<% @task ||= Task.new %>
<div class="modal-body" data-id="<%=list.id%>">

  <%if list.tasks.present?%>
    <%= render :partial => "tasks/task_view", :locals => {:list => list}%>
  <%end%>

</div>

<div class="modal-footer" style="background-color: #f5f5f5;">

  <%= simple_form_for @task, :multipart => true, :remote => true  do |f| %>
    <%= f.text_field :text, :placeholder => "Your tasks...", :style => 'width:450px; margin-bottom:-20px;', :id => "input_tasks" %>
    <%= f.hidden_field :list_id, value: list.id%>
    <%= button_tag(type: "submit", class: "btn btn-new") do %>
      <i class="icon-plus icon-white"></i>
      Add
    <% end %>
  <% end %>
</div>



